body {
  background-color: grey;
}


.message-wrapper {
border: 2px solid #f1f1f1;
border-radius: 2px;
padding: 20px;

height: 65vh;
overflow: auto;
}

.message{
padding: 15px;
border-bottom: 2px solid #f1f1f1;

}

.message .message-nickname {
font-weight: bold;
font-size: 1.5rem;

}

.message .message-text {
color: black;
font-size: 1.2rem;
}

.send-messages-wrapper {
  height: 120px;
  padding: 10px;
  border: 2px solid #f1f1f1;
  border-radius: 2px;
  margin-top: 20px;

}

.send-messages-input {
width: 100%;
border-bottom: 2px solid #f1f1f1;
height: 40px;
border-radius: 5px;
resize: none;

}
.send-messages-button {
height: 40px;
}

span {
  font-size: 1.2rem;
}

.send-messages-btn-wrapper {
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 27px;

}
